@tailwind base;
@tailwind components;
@tailwind utilities;

.separator {
  display: none;
}

@media (min-width: 640px) {
  .separator {
    display: block;
    border-left: 1px solid #858585;
    height: 2.4rem;
    margin-left: 14px;
    margin-right: 10px;
  }
}

.bg-home {
  background-image: url("/bg-home.png");
}
